	
#cargando-from-logeando{
  position: absolute;
  width: 100%;
  height: 130%;
  background: #fff;
  z-index: 2500;
}
#cargando-from-logeando img{
  position:relative;  
  top:15%;
  width: 155px;
  padding-left: 12px;
  margin: auto;
  display:block;
}
#cargando-from-logeando p{
  position:absolute;  
  width:100%;
  height: 20px;
  top: 35%;
  text-align: center;
  margin: auto;
  display: block;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 20px;
}
p#progressnum {
    position: relative;
    color: #ccc;
    font-size: 15px;
    height: 20px;
    top:20%;
    font-style: italic;
    text-align: center;
}
#progressbar{ 
   box-shadow: inset 0 1px 2px #333, 0 1px 0 #777;
    position: relative;
    top:15%;
    margin: auto;
    height: 15px;
    background-color: #191919;
    border-radius: 2px;
    width: 100px;
}
div#precargador input {
    background: #eee;
    border: none;
    border-radius: 2px;
    background: #444;
    box-shadow: 0 1px 1px #222 inset, 0 1px 0 #999;
    color: #777;
    cursor: pointer;
}
div#precargador input:hover {
    background: #666;
    color: #333;
}
#indicador{ 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(0, 0, 0, 0.8) inset, 0 0 2px black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #0099CC;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    width: 100px;
    background-color: #0099CC;
    background-image: 
      repeating-linear-gradient(
      45deg, 
      rgba(255, 255, 255, 0.2) 0px, 
      rgba(255, 255, 255, 0.2) 10px, 
      rgba(255, 255, 255, 0) 10px, 
      rgba(255, 255, 255, 0) 20px), 
      linear-gradient(
      rgba(255, 255, 255, 0.1) 50%, 
      rgba(255, 255, 255, 0) 60%), 
      none;
    /*------ PARA CHROME Y SAFARI -----*/
  background: 
    -webkit-repeating-linear-gradient(
      45deg, 
      rgba(255,255,255,.2) 0,
      rgba(255,255,255,.2) 10px, 
      rgba(255,255,255,0) 10px,
      rgba(255,255,255,0) 20px
    ),
    -webkit-linear-gradient(
      rgba(255,255,255,.1) 50%,
      rgba(255,255,255,0) 60%
    ),
    #09c;
    /*------ PARA FIREFOX----*/
  background: 
    -moz-repeating-linear-gradient(
      45deg, 
      rgba(255,255,255,.2) 0,
      rgba(255,255,255,.2) 10px, 
      rgba(255,255,255,0) 10px,
      rgba(255,255,255,0) 20px
    ),
    -moz-linear-gradient(
      rgba(255,255,255,.1) 50%,
      rgba(255,255,255,0) 60%
    ),
    #09c;
    /*------ PARA OPERA----*/
  background: 
    -o-repeating-linear-gradient(
      45deg, 
      rgba(255,255,255,.2) 0,
      rgba(255,255,255,.2) 10px, 
      rgba(255,255,255,0) 10px,
      rgba(255,255,255,0) 20px
    ),
    -o-linear-gradient(
      rgba(255,255,255,.1) 50%,
      rgba(255,255,255,0) 60%
    ),  #09c;
}